.App {
  text-align: center;
}

.nav-list {
  border: solid purple;
}

.jokes-container {
  border: solid red;
}

.homepage {
  border: solid yellow
}

.random-jokes {
  border: solid green
}

.favourite-jokes {
  border: solid blue;
}